@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Josefin Sans', sans-serif;
}
.container {
    @apply mx-auto max-w-[1650px] px-4 sm:px-6;
}


.back-home{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
}
.back-limena{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/limena2.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.back-tierras{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/tierras.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.back-cabalgatas{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/cabalgatas.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.back-cabalgatas2{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/cabalgatas2.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.back-contacto{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/contacto.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}

.card-back{
    width: 100%;
    height: 100%;
    background-image: url('../../public/img/card1.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.card-back-two{
    width: 100%;
    height: 100%;
    background-image: url('../../public/img/card2.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.back-aventura{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/aventura.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}
.back-gastronomia{
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/gastronomia.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}

.font-family-200{
    font-family: 'Roboto', sans-serif;
}


@media only screen and (max-width: 767px) {
    .container{
        @apply mx-auto max-w-7xl px-4 sm:px-6;
    }
    .back-home {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.215),
          rgba(0, 0, 0, 0.215)
        ),
        url('../../public/img/limena778px.jpg');
        background-position: center;
    }
    .back-limena{
        background-image: url('../../public/img/limena2.jpg');
        background-position: center;
    }
    .back-tierras{
        background-image: url('../../public/img/tierras768.jpg');
        background-position: center;
    }
    .back-cabalgatas{
        background-image: url('../../public/img/cabalgatas768.jpg');
        background-position: center;
    }
    .back-cabalgatas2{
        background-image: url('../../public/img/cabalgatas2768.jpg');
        background-position: center;
    }
    .back-aventura{
        background-image: url('../../public/img/aventura778.jpg');
        background-position: center;
    }
    .back-gastronomia{
        background-image: url('../../public/img/gastronomia768.jpg');
        background-position: center;
    }
  
  }


